<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nop Commerce">
    <listeners>
        <listener class-name="Reports.Listeners"/>
    </listeners>

        <test name="Verify user can checkout item">
            <parameter name="browserName" value="chrome"></parameter>
            <classes>
                <class name="Test.VerifyUserCanAddItemToCartAndCheckout"/>
            </classes>
        </test>

    <test name="Verify user can compare items">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.VerifyUserCanCompareItems"/>
        </classes>
    </test>

    <test name="Verify user can edit Account details">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.VerifyUserEditAccountDetails"/>
        </classes>
    </test>

    <test name="Verify user can checkout from wishlist">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.VerifyUserCanAddToCartFromWishlist"/>
        </classes>
    </test>
</suite>