<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nop Commerce">
    <listeners>
        <listener class-name="Reports.Listeners"/>
    </listeners>

        <test name="Verify user can checkout item">
            <parameter name="browserName" value="chrome"></parameter>
            <classes>
                <class name="Test.VerifyUserCanAddItemToCartAndCheckout"/>
            </classes>
        </test>
</suite>